@model IEnumerable<ODataBookStore.Web.Models.PressModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Press Management</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <input name="page" value="1" hidden/>
    <input name="search" value="@(ViewBag.Search)"/>
    <input type="submit" value="Search" class="btn" />
</form>
<table class="table mt-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) 
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id  })
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
@if (ViewBag.Page > 1 && ViewBag.TotalPage > 1)
{
        <a asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" asp-route-search="@(ViewBag.Search)">Previous</a>
}
<div class="d-flex gap-2">
    Page:
    @for (int i = 1; i <= ViewBag.TotalPage; i++)
    {
        <span class="@(i == ViewBag.Page ? "text-blue font-weight-bold" : "text-black")">@(i)</span>
    }
</div>
@if (ViewBag.Page < ViewBag.TotalPage && ViewBag.TotalPage > 1)
{
        <a asp-action="Index" asp-route-page="@(ViewBag.Page + 1)" asp-route-search="@(ViewBag.Search)">Next</a>
}